<!DOCTYPE html>
<html lang="en">
<head>
  {{>headlinks}}
</head>
<body style="display: flex; align-items: center;justify-content:center;">
     <div class="container-fluid main_header">
        <div class="row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b953bd152001023.63165a7c64d19.png" alt="suhani" class="img-fluid" title="suhani_proj">
                        </figure>
                    
                    <p>Welcome to weather app</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/index"><button style="margin-bottom: 20px;">Go Back</button></a>
                    </div>
              </div>
            </div>
    </div>

</body>
</html>