<!DOCTYPE html>
<html lang="en">
<head>
  {{>headlinks}}
</head>
<body>
  {{>navbar}}

    <!-- -------------------- main header--------------------- -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class="row" style="display: flex;">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://tiqcapital.com/wp-content/uploads/2023/11/img52.png" alt="suhani" class="img-fluid" title="suhani_proj">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I'm a <span class="text-clr">Mern stack </span>Developer as well as a graphic designer</h1>
                    <a href="https://suhanijainportfolio.netlify.app/"><button style="margin-bottom: 20px;">check now</button></a>
                    </div>
              </div>
            </div>
        </div>
    </div>
      <!-- -------------------- footer --------------------- -->

{{>footer}}
</body>
</html>